body {
  font-family: "Roboto Mono", monospace;
  background-image: url("https://i.pinimg.com/originals/de/56/77/de56772bfb3f78bab41c54ad09091afe.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: left;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.logo {
  width: 300px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin: 12px;
  padding: 4px 18px;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #ffffff;
  text-align: left;
  margin-top: 16px;
}